<div class="feed-item border border-gray-400 rounded bg-white w-full mt-16 p-5 first-of-type:mt-0">
    <!-- top panel-->
    <div class="header border-b p-4 flex justify-between items-center">

        <!--User's data - avatar and name-->
        <div class="left flex flex-row items-center">
            
            <div class="user-img h-10 w-10 border rounded-full overflow-hidden mr-4">
                <img alt="profile picture" class="_6q-tv" data-testid="user-avatar" draggable="false" src=<%=post.getAuthorsAvatar%>>
            </div>

            <div class="user-name-and-place flex flex-col">
                <a href="/user/<%=post.user_id%>" class="text-sm font-bold"><%=post.getAuthorsName%></a>
            </div>
        </div>

        <div class="right flex">
            <%= link_to "see", post_path(post), class: "text-xs pr-2"%>
            <%if user_signed_in? and post.user_id == current_user.id%>
                    <%= link_to "edit", edit_post_path(post), class: "text-xs border-r-2 border-l-2 px-2"%>
                    <%= link_to "delete", post_path(post), data: { turbo_method: :delete}, class: "text-xs pl-2"%>
            <%end%>
        </div>
    </div>

    <!-- img -->
    <% if post.img?%>
        <div class="feed-img">
            <img class="align-middle m-auto" src=<%=post.img%> alt="img">
        </div>
    <%end%>

    <!--Like & text & comments-->
    <div class="card-footer p-4">
        <div class="top">

            <!--Like-->
            <%if user_signed_in?%>
                <div class="icons flex flex-row justify-between items-center">
                    <div class="left flex flex-row">
                        <div class="like mr-4">
                            <%if post.hasLikeFrom(current_user.id)%>
                                <a href='/post/<%=post.id%>/dislike'>
                                    <svg aria-label="Like" class="_8-yf5 " fill="#b10202" height="24" viewBox="0 0 48 48" width="24">
                                        <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                    </svg>
                                </a>
                            <%else%>
                                <a href='/post/<%=post.id%>/like'> 
                                    <svg aria-label="Like" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                                        <path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path>
                                    </svg>
                                </a>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>

            <!--Count Like-->
            <div class="likes mt-1">
                <span class="font-bold text-sm">
                    <%=Like.findLikes post.id%> likes
                </span>
            </div>

            <!--Text -->
            <div class="caption text-sm mt-3">
                <%=post.text%>
            </div>
        </div>

        <!--Comments-->
        <div class="bottom border-t pt-3 mt-3">

            <!--Comments-->
            <div class="caption text-sm mb-3">
                <%Comment.getLastComments(post.id).each do |comm|%>
                    <div class="h-5 mt-2 m-auto">
                        <div class="user-img h-5 w-5 border rounded-full overflow-hidden inline-block">
                            <img alt="profile picture" class="_6q-tv" data-testid="user-avatar" draggable="false" src=<%=comm.getAuthorsAvatar%>>
                        </div>
                        <a href="/user/<%=comm.user_id%>"><b><%=comm.getAuthorsName%>:</b></a>
                        <span><%=comm.text%></span>
                    </div>
                <%end%>
            </div>

            <!--Write new comment-->
            <%if user_signed_in?%>
                <%=form_for :comment, url: "/post/#{post.id}/comment", method: :post do |f|%>
                    <div class="wrapper flex">
                        <%= f.text_field(:text, {:class => "text-sm h-10 w-full outline-none focus:outline-none w-10/12"})%>

                        <%= f.submit("post", {:class => "text-blue-500 opacity-75 w-2/12 font-bold mx-auto"})%>
                    </div>
                <%end%>
            <%end%>
            
        </div>
    </div>
</div>
