<div>
        <br>
        <div>From: <%=User.find(@post.user_id).name%></div>
        <img src=<%=@post.img%>>
        <div><%=@post.text%></div>
        <div>Likes: <%=Like.findLikes @post.id%></div>

        <div>
            <%Comment.getLastComments(@post.id).each do |comm|%>
                <div>
                    <span><%=User.find(comm.user_id).name%>:</span>
                    <span><%=comm.text%></span>
                </div>
            <%end%>
        </div>
</div>