
<div>My account</div>
<br>

<div>
        <div>Id: <%=current_user.id%></div>
        <div>Name: <%=current_user.name%></div>
        <div>Email: <%=current_user.email%></div>
</div>

<br>

<div>Posts</div>

<br>

<a href='/post/new'>write new post</a>

<%@post.each do |post|%>

    <div>
        <br>
        <div>From: <%=User.find(post.user_id).name%></div>
        <img src=<%=post.img%>>
        <div><%=post.text%></div>
        <div>Likes: <%=Like.findLikes post.id%></div>

        <div>
            <%Comment.getLastComments(post.id).each do |comm|%>
                <div>
                    <span><%=User.find(comm.user_id).name%>:</span>
                    <span><%=comm.text%></span>
                </div>
            <%end%>
        </div>
    </div>

<%end%>
